Problem statement.
Build a recommender system by using cosine simillarties score.

In [1]:
import pandas as pd
import numpy as np

In [5]:
book=pd.read_csv("C:\\Users\\lenovo\\Downloads\\book.csv",encoding="ISO-8859-1")

In [7]:
book.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

# EDA

#Removed_Unuseful_Columns

In [9]:
book1=book.drop(columns='Unnamed: 0')
book1

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [10]:
book2=book1.rename(columns={'User.ID':'userId','Book.Title':'bookT','book.Rating':'bookR'})

In [11]:
book2

      userId                                              bookT  Book.Rating
0     276726                                Classical Mythology            5
1     276729                                       Clara Callan            3
2     276729                               Decision in Normandy            6
3     276736  Flu: The Story of the Great Influenza Pandemic...            8
4     276737                             The Mummies of Urumchi            6
...      ...                                                ...          ...
9995  162121       American Fried: Adventures of a Happy Eater.            7
9996  162121                              Cannibal In Manhattan            9
9997  162121                    How to Flirt: A Practical Guide            7
9998  162121                                           Twilight            8
9999  162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

#number of unique users in the dataset

In [12]:
len(book2.userId.unique())

2182

In [13]:
len(book2.bookT.unique())

9659

#Converting long data into wide data using pivot table.

In [15]:
user_book_df=book2.pivot_table(index='userId',columns='bookT').reset_index(drop=True)
user_book_df

               Book.Rating                                             \
bookT  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
0                      NaN                                        NaN
1                      NaN                                        NaN
2                      NaN                                        NaN
3                      NaN                                        NaN
4                      NaN                                        NaN
...                    ...                                        ...
2177                   NaN                                        NaN
2178                   NaN                                        NaN
2179                   NaN                                        NaN
2180                   NaN                                        NaN
2181                   NaN                                        NaN

                                     \
bookT  Repairing PC Drives &amp '48
0                           NaN NaN
1                           NaN NaN
2                           NaN NaN
3                           NaN NaN
4                           NaN NaN
...                         ...  ..
2177                        NaN NaN
2178                        NaN NaN
2179                        NaN NaN
2180                        NaN NaN
2181                        NaN NaN

                                                                             \
bookT 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                                    \
bookT ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                                              \
bookT 01-01-00: A Novel of the Millennium 1,401 More Things That P*Ss Me Off
0                                     NaN                                NaN
1                                     NaN                                NaN
2                                     NaN                                NaN
3                                     NaN                                NaN
4                                     NaN                                NaN
...                                   ...                                ...
2177                                  NaN                                NaN
2178                                  NaN                                NaN
2179                                  NaN                                NaN
2180                                  NaN                                NaN
2181                                  NaN                                NaN

                                                                        ...  \
bookT 10 Commandments Of Dating 100 Great Fantasy Short, Short Stories  ...
0                           NaN                                    NaN  ...
1                           NaN                                    NaN  ...
2                           NaN                                    NaN  ...
3                           NaN                                    NaN  ...
4                           NaN                                    NaN  ...
...                         ...                                    ...  ...
2177                        NaN                                    NaN  ...
2178                        NaN                                    NaN  ...
2179                        NaN                                    NaN  ...
2180                        NaN                                    NaN  ...
2181                        NaN                                    NaN  ...

                                                                   \
bookT Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                                  \
bookT \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                                              \
bookT \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                         \
bookT \More More More,\ Said the Baby \O\ Is for Outlaw
0                                 NaN               NaN
1                                 NaN               NaN
2                                 NaN               NaN
3                                 NaN               NaN
4                                 NaN               NaN
...                               ...               ...
2177                              NaN               NaN
2178                              NaN               NaN
2179                              NaN               NaN
2180                              NaN               NaN
2181                              NaN               NaN

                                                                               \
bookT \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
2177                                                 NaN
2178                                                 NaN
2179                                                 NaN
2180                                                 NaN
2181                                                 NaN

                                                                               \
bookT \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi stardust
0                                        NaN                     NaN      NaN
1                                        NaN                     NaN      NaN
2                                        NaN                     NaN      NaN
3                                        NaN                     NaN      NaN
4                                        NaN                     NaN      NaN
...                                      ...                     ...      ...
2177                                     NaN                     NaN      NaN
2178                                     NaN                     NaN      NaN
2179                                     NaN                     7.0      NaN
2180                                     NaN                     NaN      NaN
2181                                     NaN                     NaN      NaN


bookT Ãƒ?Ã‚?bermorgen.
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
2177             NaN
2178             NaN
2179             NaN
2180             NaN
2181             NaN

[2182 rows x 9659 columns]

In [16]:
user_book_df.index=book2.userId.unique()
user_book_df

                Book.Rating                                             \
bookT   Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
276726                  NaN                                        NaN
276729                  NaN                                        NaN
276736                  NaN                                        NaN
276737                  NaN                                        NaN
276744                  NaN                                        NaN
...                     ...                                        ...
162107                  NaN                                        NaN
162109                  NaN                                        NaN
162113                  NaN                                        NaN
162121                  NaN                                        NaN
162129                  NaN                                        NaN

                                      \
bookT   Repairing PC Drives &amp '48
276726                       NaN NaN
276729                       NaN NaN
276736                       NaN NaN
276737                       NaN NaN
276744                       NaN NaN
...                          ...  ..
162107                       NaN NaN
162109                       NaN NaN
162113                       NaN NaN
162121                       NaN NaN
162129                       NaN NaN

                                                                              \
bookT  'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                                     \
bookT  ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                                               \
bookT  01-01-00: A Novel of the Millennium 1,401 More Things That P*Ss Me Off
276726                                 NaN                                NaN
276729                                 NaN                                NaN
276736                                 NaN                                NaN
276737                                 NaN                                NaN
276744                                 NaN                                NaN
...                                    ...                                ...
162107                                 NaN                                NaN
162109                                 NaN                                NaN
162113                                 NaN                                NaN
162121                                 NaN                                NaN
162129                                 NaN                                NaN

                                                                         ...  \
bookT  10 Commandments Of Dating 100 Great Fantasy Short, Short Stories  ...
276726                       NaN                                    NaN  ...
276729                       NaN                                    NaN  ...
276736                       NaN                                    NaN  ...
276737                       NaN                                    NaN  ...
276744                       NaN                                    NaN  ...
...                          ...                                    ...  ...
162107                       NaN                                    NaN  ...
162109                       NaN                                    NaN  ...
162113                       NaN                                    NaN  ...
162121                       NaN                                    NaN  ...
162129                       NaN                                    NaN  ...

                                                                    \
bookT  Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                                   \
bookT  \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                                               \
bookT  \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                          \
bookT  \More More More,\ Said the Baby \O\ Is for Outlaw
276726                             NaN               NaN
276729                             NaN               NaN
276736                             NaN               NaN
276737                             NaN               NaN
276744                             NaN               NaN
...                                ...               ...
162107                             NaN               NaN
162109                             NaN               NaN
162113                             NaN               NaN
162121                             NaN               NaN
162129                             NaN               NaN

                                                                                \
bookT  \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
276726                                                NaN
276729                                                NaN
276736                                                NaN
276737                                                NaN
276744                                                NaN
...                                                   ...
162107                                                NaN
162109                                                NaN
162113                                                NaN
162121                                                NaN
162129                                                NaN

                                                                       \
bookT  \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
276726                                    NaN                     NaN
276729                                    NaN                     NaN
276736                                    NaN                     NaN
276737                                    NaN                     NaN
276744                                    NaN                     NaN
...                                       ...                     ...
162107                                    NaN                     NaN
162109                                    NaN                     NaN
162113                                    NaN                     7.0
162121                                    NaN                     NaN
162129                                    NaN                     NaN


bookT  stardust Ãƒ?Ã‚?bermorgen.
276726      NaN            NaN
276729      NaN            NaN
276736      NaN            NaN
276737      NaN            NaN
276744      NaN            NaN
...         ...            ...
162107      NaN            NaN
162109      NaN            NaN
162113      NaN            NaN
162121      NaN            NaN
162129      NaN            NaN

[2182 rows x 9659 columns]

#impute those Nans with 0 values

In [17]:
user_book_df.fillna(0, inplace=True)

In [18]:
user_book_df

                Book.Rating                                             \
bookT   Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
276726                  0.0                                        0.0
276729                  0.0                                        0.0
276736                  0.0                                        0.0
276737                  0.0                                        0.0
276744                  0.0                                        0.0
...                     ...                                        ...
162107                  0.0                                        0.0
162109                  0.0                                        0.0
162113                  0.0                                        0.0
162121                  0.0                                        0.0
162129                  0.0                                        0.0

                                       \
bookT   Repairing PC Drives &amp  '48
276726                       0.0  0.0
276729                       0.0  0.0
276736                       0.0  0.0
276737                       0.0  0.0
276744                       0.0  0.0
...                          ...  ...
162107                       0.0  0.0
162109                       0.0  0.0
162113                       0.0  0.0
162121                       0.0  0.0
162129                       0.0  0.0

                                                                              \
bookT  'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                                     \
bookT  ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                                               \
bookT  01-01-00: A Novel of the Millennium 1,401 More Things That P*Ss Me Off
276726                                 0.0                                0.0
276729                                 0.0                                0.0
276736                                 0.0                                0.0
276737                                 0.0                                0.0
276744                                 0.0                                0.0
...                                    ...                                ...
162107                                 0.0                                0.0
162109                                 0.0                                0.0
162113                                 0.0                                0.0
162121                                 0.0                                0.0
162129                                 0.0                                0.0

                                                                         ...  \
bookT  10 Commandments Of Dating 100 Great Fantasy Short, Short Stories  ...
276726                       0.0                                    0.0  ...
276729                       0.0                                    0.0  ...
276736                       0.0                                    0.0  ...
276737                       0.0                                    0.0  ...
276744                       0.0                                    0.0  ...
...                          ...                                    ...  ...
162107                       0.0                                    0.0  ...
162109                       0.0                                    0.0  ...
162113                       0.0                                    0.0  ...
162121                       0.0                                    0.0  ...
162129                       0.0                                    0.0  ...

                                                                    \
bookT  Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                                   \
bookT  \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                                               \
bookT  \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                          \
bookT  \More More More,\ Said the Baby \O\ Is for Outlaw
276726                             0.0               0.0
276729                             0.0               0.0
276736                             0.0               0.0
276737                             0.0               0.0
276744                             0.0               0.0
...                                ...               ...
162107                             0.0               0.0
162109                             0.0               0.0
162113                             0.0               0.0
162121                             0.0               0.0
162129                             0.0               0.0

                                                                                \
bookT  \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
276726                                                0.0
276729                                                0.0
276736                                                0.0
276737                                                0.0
276744                                                0.0
...                                                   ...
162107                                                0.0
162109                                                0.0
162113                                                0.0
162121                                                0.0
162129                                                0.0

                                                                       \
bookT  \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
276726                                    0.0                     0.0
276729                                    0.0                     0.0
276736                                    0.0                     0.0
276737                                    0.0                     0.0
276744                                    0.0                     0.0
...                                       ...                     ...
162107                                    0.0                     0.0
162109                                    0.0                     0.0
162113                                    0.0                     7.0
162121                                    0.0                     0.0
162129                                    0.0                     0.0


bookT  stardust Ãƒ?Ã‚?bermorgen.
276726      0.0            0.0
276729      0.0            0.0
276736      0.0            0.0
276737      0.0            0.0
276744      0.0            0.0
...         ...            ...
162107      0.0            0.0
162109      0.0            0.0
162113      0.0            0.0
162121      0.0            0.0
162129      0.0            0.0

[2182 rows x 9659 columns]

In [19]:
#Calculating cosine similarity between users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [20]:
user_sim=1 - pairwise_distances(user_book_df.values,metric='cosine')

In [21]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

#Storing the result in dataframe

In [23]:
user_sim_df=pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#Set the index and column names to user ids

In [24]:
user_sim_df.index=book2.userId.unique()
user_sim_df.columns=book2.userId.unique()

In [25]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [26]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

#Most similar user

In [27]:
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64